[submodule "data_lab2"]
	path = data_lab2
	url = https://gist.github.com/d66a59b6db4e59c16efd4c42ad411f8e.git
[submodule "data_Lab1"]
	path = data_Lab1
	url = https://gist.github.com/d66a59b6db4e59c16efd4c42ad411f8e.git
